## Upload excel file

In [19]:
import pandas as pd
from datetime import date
import os

In [20]:
path = os.getcwd()
file_extension = '.xls'

xlxs_file_list = []
for root,dirs,files in os.walk(path):
    for name in files: 
        if name.endswith(file_extension):
            file_path = os.path.join(root,name)
            xlxs_file_list.append(file_path)
print(xlxs_file_list)

['d:\\My Documents\\Desktop\\press_backup\\master_model\\master_model.xls']

In [21]:
today = date.today()
today_date = str(today).split("-")[-1]
month = str(today).split("-")[-2]
year = str(today).split("-")[-3]

dfs = []
for f in xlxs_file_list:
    df = pd.read_excel(f)
    dfs.append(df)

In [22]:
dfs = pd.concat(dfs)
dfs

    model_name  width  thickness
0          R50    0.2         46
1          R52    0.2         52
2          R54    0.2         46
3          R55    0.3         61
4          R56    0.3         64
..         ...    ...        ...
103        S30    0.1         14
104        S31    0.1         16
105        S32    0.1         16
106        S33    0.1         14
107        S34    0.1         16

[108 rows x 3 columns]

In [17]:
df1 = dfs.copy()
df1['registered_at'] = today
df1

    model_name  width  thickness registered_at
0          R50    0.2         46    2022-11-17
1          R52    0.2         52    2022-11-17
2          R54    0.2         46    2022-11-17
3          R55    0.3         61    2022-11-17
4          R56    0.3         64    2022-11-17
..         ...    ...        ...           ...
103        S30    0.1         14    2022-11-17
104        S31    0.1         16    2022-11-17
105        S32    0.1         16    2022-11-17
106        S33    0.1         14    2022-11-17
107        S34    0.1         16    2022-11-17

[108 rows x 4 columns]

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/machine_control')

with engine.connect() as connection:
  df1.to_sql('app_machine_control_mastermodel', connection, index=False,if_exists='append')

In [31]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:1234@192.168.1.16:5432/test')

with engine.connect() as connection:
  df1.to_sql('test_table', connection, index=False,if_exists='append')

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "registered_at" of relation "test_table" does not exist
LINE 1: ...RT INTO test_table (model_name, width, thickness, registered...
                                                             ^

[SQL: INSERT INTO test_table (model_name, width, thickness, registered_at) VALUES (%(model_name)s, %(width)s, %(thickness)s, %(registered_at)s)]
[parameters: ({'model_name': 'R50', 'width': 0.2, 'thickness': 46, 'registered_at': datetime.date(2022, 11, 17)}, {'model_name': 'R52', 'width': 0.2, 'thickness': 52, 'registered_at': datetime.date(2022, 11, 17)}, {'model_name': 'R54', 'width': 0.2, 'thickness': 46, 'registered_at': datetime.date(2022, 11, 17)}, {'model_name': 'R55', 'width': 0.3, 'thickness': 61, 'registered_at': datetime.date(2022, 11, 17)}, {'model_name': 'R56', 'width': 0.3, 'thickness': 64, 'registered_at': datetime.date(2022, 11, 17)}, {'model_name': 'R59', 'width': 0.35, 'thickness': 67, 'registered_at': datetime.date(2022, 11, 17)}, {'model_name': 'R61', 'width': 0.35, 'thickness': 70, 'registered_at': datetime.date(2022, 11, 17)}, {'model_name': 'R63', 'width': 0.25, 'thickness': 19, 'registered_at': datetime.date(2022, 11, 17)}  ... displaying 10 of 108 total bound parameter sets ...  {'model_name': 'S33', 'width': 0.1, 'thickness': 14, 'registered_at': datetime.date(2022, 11, 17)}, {'model_name': 'S34', 'width': 0.1, 'thickness': 16, 'registered_at': datetime.date(2022, 11, 17)})]
(Background on this error at: https://sqlalche.me/e/14/f405)