#### Data Types

Variables

In [1]:
msg = "hello world"
print(msg)

msg1 = 2
print(msg1)

hello world
2

In [2]:
name = "suraphop"
frist_name = "suraphop"

In [3]:
employee_number = "J6639"
emp_number = "J6639" #
emp_no = "J6639" #
emp = "J6639"

In [4]:
#1name = "suraphop"
name_1 = "suraphop"
#$name = "suraphop"

Numberic Types

In [5]:
msg = "4"
print(type(msg))
print(msg +"1")
print(int(msg)+1)

<class 'str'>
41
5

In [6]:
msg = 4
print(type(msg))
print(msg +1)

<class 'int'>
5

In [7]:
msg = 4.4
print(type(msg))

print(4+msg)
print(type(4+msg))

msg = 4
print(msg)
print(float(msg))

<class 'float'>
8.4
<class 'float'>
4
4.0

Operator

In [8]:
3+4

7

In [9]:
4-3

1

In [10]:
4*3

12

In [11]:
print(4/3)
print(round(4/3,2))

1.3333333333333333
1.33

In [12]:
3**4

81

In [13]:
3 * (3+4)

21

Line continuation

In [14]:
a = (1+3
+3)
a

7

In [15]:
a = 1+3
+3

3

Compareative(booleans)

In [16]:
3 == 4

False

In [17]:
4 == 4

True

In [18]:
3 != 4

True

In [19]:
3 < 4

True

In [20]:
3 <= 4

True

In [21]:
3 < 4 < 5

True

In [22]:
True

True

In [23]:
False

False

In [24]:
not True

False

In [25]:
not False

True

In [26]:
False and True

False

In [27]:
True or False

True

### Comments

In [28]:
#This is a single comment
3+4 #This is a single comment

7

In [29]:
"""multiple line comment with
 quote
 """
3+4

7

Strings

In [30]:
print("Hello world")
print('hello world')

#print('This 's easy to learn python')
print("This 's easy to learn python")
print('This "s easy to learn python')

Hello world
hello world
This 's easy to learn python
This "s easy to learn python

In [31]:
# addition string
msg1 = "hello"
msg2 = "world"
print(msg1 + msg2)
print(msg1+" "+ msg2)
print(msg1+" "+ msg2 +" "+ "python")
print(f"{msg1} {msg2} python") # f-string function

helloworld
hello world
hello world python
hello world python

In [32]:
first_msg = "free"
second_msg = "open source"

first_msg,second_msg = "free","open source"
print(first_msg)
print(second_msg)

first_msg,_ = "free1","open source"
print(first_msg)

_,second_msg = "free","open source1"
print(second_msg)

free
open source
free1
open source1

In [33]:
"PYTHON".lower()

'python'

In [34]:
"python".upper()

'PYTHON'

In [35]:
second_msg.upper()

'OPEN SOURCE1'

#### CONSTANT

In [36]:
TEMPERATURE_SCALES = "fahrenheit"
print(TEMPERATURE_SCALES)

TEMPERATURE_SCALES = "fahrenheit1"
print(TEMPERATURE_SCALES)

fahrenheit
fahrenheit1

##### Index and Slicing

In [37]:
language = "PYTHON"

In [38]:
#Index
print(language[0])
print(language[1])
print(language[5])
print(language[-1])
print(language[-2])

P
Y
N
N
O

In [39]:
print(language[0:2])
print(language[:2])
print(language[2:4])
print(language[2:])
print(language[-3:]) #
print(language[-3:-1]) #

PY
PY
TH
THON
HON
HO

#### Data structures

Lists

In [40]:
file_name = "oee.xlsx"
file_names = ["one.xlsx","two.xlsx","three.xlsx"]

print(type(file_name))
print(type(file_names))

<class 'str'>
<class 'list'>

In [41]:
datas = ["one.xlsx",1,"two.xlsx",2]
datas

['one.xlsx', 1, 'two.xlsx', 2]

In [42]:
datas_1 = ["one.xlsx",1,"two.xlsx",2]
datas_2 = ["one_2.xlsx",3,"two_2.xlsx",4]
datas_1+datas_2

['one.xlsx', 1, 'two.xlsx', 2, 'one_2.xlsx', 3, 'two_2.xlsx', 4]

In [43]:
nested_lists = [[1,2,3],[4,5,6],[7,8,9]]
print(nested_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [44]:
print(nested_lists[0])
print(nested_lists[1])
print(nested_lists[2])

print(nested_lists[0][0])
## access 5 ,9 ,[8,9]
print(nested_lists[1][1])
print(nested_lists[2][2])
print(nested_lists[2][1:])
print(type(nested_lists[2][1:]))

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
1
5
9
[8, 9]
<class 'list'>

In [45]:
users = ["linda","Brian"]
print(users)
print(type(users))

['linda', 'Brian']
<class 'list'>

In [46]:
print(users[0])
print(type(users[0]))

linda
<class 'str'>

In [47]:
#addition values to list
users.append("suraphop")
print(users)

['linda', 'Brian', 'suraphop']

In [48]:

users.insert(0,"Kim")
users

['Kim', 'linda', 'Brian', 'suraphop']

In [49]:
users.pop()
users

['Kim', 'linda', 'Brian']

In [50]:
users.pop(0)
users

['linda', 'Brian']

In [51]:
del users[0]
users

['Brian']

In [52]:
users[0] = "suraphop"
users

['suraphop']

In [53]:
print(len(users))
users.append("bunsawat")
print(len(users))

1
2

In [54]:
print(users)
print("suraphop" in users)
print("suraphop2" in users)
print("Suraphop" in users)
print("Suraphop".lower() in users)

['suraphop', 'bunsawat']
True
False
False
True

In [55]:
"XS" in "XSOOIS"

True

In [56]:
users.sort() #ASC
print(users)

users.sort(reverse=True) #DESC
print(users)

['bunsawat', 'suraphop']
['suraphop', 'bunsawat']

Dictionaries

In [57]:
exchage_rates = {"EURUSD": 1.1152 , "GBPUSD":1.2452,"AUDUSD":0.6161}
print(exchage_rates)
print(type(exchage_rates))

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}
<class 'dict'>

In [58]:
exchage_rates["EURUSD"]

1.1152

In [59]:
exchage_rates["EURUSD"] = 0.55
exchage_rates

{'EURUSD': 0.55, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}

In [60]:
exchage_rates["EURJPY"] = 144.01
exchage_rates

{'EURUSD': 0.55, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161, 'EURJPY': 144.01}

In [61]:
del exchage_rates["EURJPY"]
exchage_rates

{'EURUSD': 0.55, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}

In [62]:
exchage_rates.pop("GBPUSD")
exchage_rates

{'EURUSD': 0.55, 'AUDUSD': 0.6161}

Tuple

In [63]:
currencies = ("EUR","GBP","AUD")
currencies_list = ["EUR","GBP","AUD"]
print(currencies)
print(currencies_list)
print(type(currencies))
print(type(currencies_list))

#currencies[0] = "AAA"
currencies_list.append("AAA") 
print(currencies_list)

print(list(currencies))
print(type(list(currencies)))

('EUR', 'GBP', 'AUD')
['EUR', 'GBP', 'AUD']
<class 'tuple'>
<class 'list'>
['EUR', 'GBP', 'AUD', 'AAA']
['EUR', 'GBP', 'AUD']
<class 'list'>

#### Control flow

If statement

In [64]:
i = 6
# print(i < 5)
# if True:
#     print("i is smaller than 5")

if i < 5:
    print("i is smaller than 5")
elif i <= 10:
    print("i is between 5 and 10")
else:
    print("out of range")

i is between 5 and 10

In [65]:
is_important = True

if is_important:
    print("This is an important")
else:
    print("This is not important")

print("This is an important") if is_important else print("This is not important")

This is an important
This is an important

For and While Loops

In [66]:
currencies = ["USD","HKD","AUD"]
currencies

['USD', 'HKD', 'AUD']

In [67]:
currencies[0]

#for i in currencies:
#   print(i)

for currencie in currencies:
    print(currencie)

USD
HKD
AUD

In [68]:
exchage_rates = {"EURUSD": 1.1152 , "GBPUSD":1.2452,"AUDUSD":0.6161}
exchage_rates

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}

In [69]:
for exchage_rate in exchage_rates:
    print(exchage_rate)

EURUSD
GBPUSD
AUDUSD

In [70]:
for exchage_rate in exchage_rates.keys():
    print(exchage_rate)

EURUSD
GBPUSD
AUDUSD

In [71]:
for exchage_rate in exchage_rates.values():
    print(exchage_rate)

1.1152
1.2452
0.6161

In [72]:
for exchage_rate in exchage_rates.items():
    print(exchage_rate)

('EURUSD', 1.1152)
('GBPUSD', 1.2452)
('AUDUSD', 0.6161)

loop structure

In [73]:
for i in range(5):
    print(i)

0
1
2
3
4

In [74]:
for i in range(10):
    if i == 5:
        break
    else:
        print(i)

0
1
2
3
4

In [75]:
for i in range(10):
    if i == 5:
        continue
    else:
        print(i)

0
1
2
3
4
6
7
8
9

In [76]:
for i in range(1,5):
    print(i)
    #print("end")
print("end")

1
2
3
4
end

In [77]:
for i in range(1,10,2):
    print(i)
    #print("end")
print("end")

1
3
5
7
9
end

In [78]:
n = 0
while n <= 10:
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9
10

#### Function

In [79]:
def test():
    """for print hello world"""
    print("Hello world")

test()

Hello world

In [80]:
def calculation(input_1,input_2):
    """plus 2 digit"""
    result = input_1+input_2
    #print(result)
    return result
print(calculation(1,2))
print(calculation(1,2)+1)

3
4

In [81]:
def calculation(input_1,input_2):
    """plus 2 digit and return result"""
    result = input_1+input_2
    if result < 10:
        msg = "ok"
    else:
        msg = "ng"
    return result,msg
print(calculation(1,2))
print(calculation(10,2))

value,result = calculation(10,2)
print(value)
print(value+10)
print(result)

(3, 'ok')
(12, 'ng')
12
22
ng

In [82]:
def calculation(input_1,input_2):
    """minus 2 digit and return result"""
    result = input_1-input_2
    if result < 10:
        msg = "ok"
    else:
        msg = "ng"
    return result,msg
print(calculation(1,2))
print(calculation(2,1))

print(calculation(input_1=1,input_2=2))
print(calculation(input_2=2,input_1=1))

(-1, 'ok')
(1, 'ok')
(-1, 'ok')
(-1, 'ok')

In [83]:
def calculation(input_1,input_2=10):
    """minus 2 digit and return result"""
    result = input_1-input_2
    if result < 10:
        msg = "ok"
    else:
        msg = "ng"
    return result,msg
print(calculation(input_1=2))
print(calculation(input_1=2,input_2=40))

(-8, 'ok')
(-38, 'ok')

Module

In [84]:
import calulation

In [85]:
calulation.minus(2,3)

(-1, 'ok')

In [86]:
import calulation as cal

In [87]:
cal.minus(2,3)

(-1, 'ok')

In [88]:
from calulation import minus , plus

print(plus(2,3))
print(minus(2,3))

(5, 'ok')
(-1, 'ok')