#### Data Types

Variables

In [1]:
msg = "hello world"
print(msg)

msg1 = 2
print(msg1)

hello world
2

In [2]:
name = "suraphop"
frist_name = "suraphop"

In [3]:
employee_number = "J6639"
emp_number = "J6639" #
emp_no = "J6639" #
emp = "J6639"

In [4]:
#1name = "suraphop"
name_1 = "suraphop"
#$name = "suraphop"

Numberic Types

In [5]:
msg = "4"
print(type(msg))
print(msg +"1")
print(int(msg)+1)

<class 'str'>
41
5

In [6]:
msg = 4
print(type(msg))
print(msg +1)

<class 'int'>
5

In [7]:
msg = 4.4
print(type(msg))

print(4+msg)
print(type(4+msg))

msg = 4
print(msg)
print(float(msg))

<class 'float'>
8.4
<class 'float'>
4
4.0

Operator

In [8]:
3+4

7

In [9]:
4-3

1

In [10]:
4*3

12

In [11]:
print(4/3)
print(round(4/3,2))

1.3333333333333333
1.33

In [12]:
3**4

81

In [13]:
3 * (3+4)

21

Line continuation

In [14]:
a = (1+3
+3)
a

7

In [15]:
a = 1+3
+3

3

Compareative(booleans)

In [16]:
3 == 4

False

In [17]:
4 == 4

True

In [18]:
3 != 4

True

In [19]:
3 < 4

True

In [20]:
3 <= 4

True

In [21]:
3 < 4 < 5

True

In [22]:
True

True

In [23]:
False

False

In [24]:
not True

False

In [25]:
not False

True

In [26]:
False and True

False

In [27]:
True or False

True

### Comments

In [28]:
#This is a single comment
3+4 #This is a single comment

7

In [29]:
"""multiple line comment with
 quote
 """
3+4

7

Strings

In [30]:
print("Hello world")
print('hello world')

#print('This 's easy to learn python')
print("This 's easy to learn python")
print('This "s easy to learn python')

Hello world
hello world
This 's easy to learn python
This "s easy to learn python

In [31]:
# addition string
msg1 = "hello"
msg2 = "world"
print(msg1 + msg2)
print(msg1+" "+ msg2)
print(msg1+" "+ msg2 +" "+ "python")
print(f"{msg1} {msg2} python") # f-string function

helloworld
hello world
hello world python
hello world python

In [32]:
first_msg = "free"
second_msg = "open source"

first_msg,second_msg = "free","open source"
print(first_msg)
print(second_msg)

first_msg,_ = "free1","open source"
print(first_msg)

_,second_msg = "free","open source1"
print(second_msg)

free
open source
free1
open source1

In [33]:
"PYTHON".lower()

'python'

In [34]:
"python".upper()

'PYTHON'

In [35]:
second_msg.upper()

'OPEN SOURCE1'

#### CONSTANT

In [36]:
TEMPERATURE_SCALES = "fahrenheit"
print(TEMPERATURE_SCALES)

TEMPERATURE_SCALES = "fahrenheit1"
print(TEMPERATURE_SCALES)

fahrenheit
fahrenheit1

##### Index and Slicing

In [37]:
language = "PYTHON"

In [38]:
#Index
print(language[0])
print(language[1])
print(language[5])
print(language[-1])
print(language[-2])

P
Y
N
N
O

In [39]:
print(language[0:2])
print(language[:2])
print(language[2:4])
print(language[2:])
print(language[-3:]) #
print(language[-3:-1]) #

PY
PY
TH
THON
HON
HO

#### Data structures

Lists

In [40]:
file_name = "oee.xlsx"
file_names = ["one.xlsx","two.xlsx","three.xlsx"]

print(type(file_name))
print(type(file_names))

<class 'str'>
<class 'list'>

In [41]:
datas = ["one.xlsx",1,"two.xlsx",2]
datas

['one.xlsx', 1, 'two.xlsx', 2]

In [42]:
datas_1 = ["one.xlsx",1,"two.xlsx",2]
datas_2 = ["one_2.xlsx",3,"two_2.xlsx",4]
datas_1+datas_2

['one.xlsx', 1, 'two.xlsx', 2, 'one_2.xlsx', 3, 'two_2.xlsx', 4]

In [43]:
nested_lists = [[1,2,3],[4,5,6],[7,8,9]]
print(nested_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [44]:
print(nested_lists[0])
print(nested_lists[1])
print(nested_lists[2])

print(nested_lists[0][0])
## access 5 ,9 ,[8,9]
print(nested_lists[1][1])
print(nested_lists[2][2])
print(nested_lists[2][1:])
print(type(nested_lists[2][1:]))

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
1
5
9
[8, 9]
<class 'list'>

In [45]:
users = ["linda","Brian"]
print(users)
print(type(users))

['linda', 'Brian']
<class 'list'>

In [46]:
print(users[0])
print(type(users[0]))

linda
<class 'str'>

In [47]:
#addition values to list
users.append("suraphop")
print(users)

['linda', 'Brian', 'suraphop']

In [48]:

users.insert(0,"Kim")
users

['Kim', 'linda', 'Brian', 'suraphop']

In [49]:
users.pop()
users

['Kim', 'linda', 'Brian']

In [50]:
users.pop(0)
users

['linda', 'Brian']

In [51]:
del users[0]
users

['Brian']

In [52]:
users[0] = "suraphop"
users

['suraphop']

In [53]:
print(len(users))
users.append("bunsawat")
print(len(users))

1
2

In [62]:
print(users)
print("suraphop" in users)
print("suraphop2" in users)
print("Suraphop" in users)
print("Suraphop".lower() in users)

['suraphop', 'bunsawat']
True
False
False
True

In [63]:
"XS" in "XSOOIS"

True

In [71]:
users.sort() #ASC
print(users)

users.sort(reverse=True) #DESC
print(users)

['bunsawat', 'suraphop']
['suraphop', 'bunsawat']