#### Pandas

In [ ]:
#!pip install pandas

In [ ]:
#!conda list

In [2]:
import pandas as pd

Dataframe

In [ ]:
datas = [
    ["Mark",55,"Italy",4.5,"Europe"],
    ["john",33,"USA",6.9,"America"],
     ["tim",41,"USA",3.9,"America"],
]
columns = ["name","age","coutry","score","continent"]

df = pd.DataFrame(data=datas,columns=columns)
df

In [ ]:
df = pd.read_csv("lifesat.csv")
df

In [ ]:
#!pip install openpyxl
df = pd.read_excel("lifesat.xlsx") #xls xlsx
df

In [ ]:
df = pd.read_csv("D:\\data_pandas\\lifesat.csv")
df

In [ ]:
df = pd.read_csv("D:/data_pandas/lifesat.csv")
df

In [ ]:
import os
path = os.getcwd()
path = path + "\\data\\sales_data"
print(path)

file_extension = ".xlsx"
xlxs_file_list = []

for root,dirs,files in os.walk(path):
    for name in files:
        if name.endswith(file_extension):
            file_path = os.path.join(root,name)  
            xlxs_file_list.append(file_path)
#print(xlxs_file_list)

In [ ]:
dfs = []
for f in xlxs_file_list:
    df = pd.read_excel(f)
    dfs.append(df)
dfs

In [ ]:
len(dfs)

In [ ]:
dfs[3]

In [3]:
# API
#!pip install requests
import requests

url = "https://covid19.ddc.moph.go.th/api/Cases/today-cases-all"
res = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
data = res.json()
print(data)
df = pd.DataFrame.from_dict(data)
df

[{'year': 2023, 'weeknum': 6, 'new_case': 392, 'total_case': 3709, 'new_case_excludeabroad': 392, 'total_case_excludeabroad': 3709, 'new_recovered': 0, 'total_recovered': 0, 'new_death': 12, 'total_death': 225, 'case_foreign': 0, 'case_prison': 0, 'case_walkin': 392, 'case_new_prev': 401, 'case_new_diff': -9, 'death_new_prev': 10, 'death_new_diff': 2, 'update_date': '2023-02-13 07:37:34'}]

,year,weeknum,new_case,total_case,new_case_excludeabroad,total_case_excludeabroad,new_recovered,total_recovered,new_death,total_death,case_foreign,case_prison,case_walkin,case_new_prev,case_new_diff,death_new_prev,death_new_diff,update_date
0,2023,6,392,3709,392,3709,0,0,12,225,0,0,392,401,-9,10,2,2023-02-13 07:37:34

In [4]:
# API
#!pip install requests
import requests

url = "https://covid19.ddc.moph.go.th/api/Cases/today-cases-by-provinces"
res = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
data = res.json()
#print(data)
df = pd.DataFrame.from_dict(data)
df

,year,weeknum,province,new_case,total_case,new_case_excludeabroad,total_case_excludeabroad,new_death,total_death,update_date
0,2023,6,อุบลราชธานี,24,161,24,161,0,0,2023-02-13 07:37:34
1,2023,6,มหาสารคาม,4,21,4,21,0,0,2023-02-13 07:37:34
2,2023,6,ลำปาง,1,16,1,16,0,8,2023-02-13 07:37:34
3,2023,6,กำแพงเพชร,0,25,0,25,0,2,2023-02-13 07:37:34
4,2023,6,แม่ฮ่องสอน,1,19,1,19,0,0,2023-02-13 07:37:34
...,...,...,...,...,...,...,...,...,...,...
74,2023,6,ขอนแก่น,7,99,7,99,0,4,2023-02-13 07:37:34
75,2023,6,เพชรบูรณ์,2,12,2,12,0,0,2023-02-13 07:37:34
76,2023,6,นครพนม,17,39,17,39,0,1,2023-02-13 07:37:34
77,2023,6,ระยอง,5,41,5,41,2,7,2023-02-13 07:37:34
78,2023,6,สระบุรี,2,22,2,22,0,2,2023-02-13 07:37:34

In [17]:
# sql server
#!pip install pypyodbc
import pypyodbc

cnxn = pypyodbc.connect("Driver= {SQL Server};"
                        "Server=192.168.1.101\SQLEXPRESS;"
                        "Database=test;"
                        "uid=sa;pwd=sa@admin")
df = pd.read_sql_query("SELECT * FROM [test].[dbo].[table1] ",cnxn)
#df = pd.read_sql_query("SELECT * FROM [test].[dbo].[table1] where test1 =1",cnxn)
df

C:\Users\lbj6639\AppData\Local\Temp\ipykernel_320\2964095731.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM [test].[dbo].[table1] ",cnxn)

   test1 test2 test3
0      1     a    11
1      2     b    22
2      3     c    33
3      4     d    44
4      5     e    55
5      6     f    66
6      7     g    77
7      7     g    77
8      7     g    77
9      8     h    88
10     8     h    88
11     8     h   123
12    10    ll   124