#### Pandas

In [ ]:
#!pip install pandas

In [ ]:
#!conda list

In [ ]:
import pandas as pd

Dataframe

In [ ]:
datas = [
    ["Mark",55,"Italy",4.5,"Europe"],
    ["john",33,"USA",6.9,"America"],
     ["tim",41,"USA",3.9,"America"],
]
columns = ["name","age","country","score","continent"]

df = pd.DataFrame(data=datas,columns=columns)
df

In [ ]:
df = pd.read_csv("lifesat.csv")
df

In [ ]:
#!pip install openpyxl
df = pd.read_excel("lifesat.xlsx") #xls xlsx
df

In [ ]:
df = pd.read_csv("D:\\data_pandas\\lifesat.csv")
df

In [ ]:
df = pd.read_csv("D:/data_pandas/lifesat.csv")
df

In [ ]:
import os
path = os.getcwd()
path = path + "\\data\\sales_data"
print(path)

file_extension = ".xlsx"
xlxs_file_list = []

for root,dirs,files in os.walk(path):
    for name in files:
        if name.endswith(file_extension):
            file_path = os.path.join(root,name)  
            xlxs_file_list.append(file_path)
#print(xlxs_file_list)

In [ ]:
dfs = []
for f in xlxs_file_list:
    df = pd.read_excel(f)
    dfs.append(df)
dfs

In [ ]:
len(dfs)

In [ ]:
dfs[3]

In [ ]:
# API
#!pip install requests
import requests

url = "https://covid19.ddc.moph.go.th/api/Cases/today-cases-all"
res = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
data = res.json()
print(data)
df = pd.DataFrame.from_dict(data)
df

In [ ]:
# API
#!pip install requests
import requests

url = "https://covid19.ddc.moph.go.th/api/Cases/today-cases-by-provinces"
res = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
data = res.json()
#print(data)
df = pd.DataFrame.from_dict(data)
df

In [ ]:
# sql server
#!pip install pypyodbc
import pypyodbc

cnxn = pypyodbc.connect("Driver= {SQL Server};"
                        "Server=192.168.1.101\SQLEXPRESS;"
                        "Database=test;"
                        "uid=sa;pwd=sa@admin")
df = pd.read_sql_query("SELECT * FROM [test].[dbo].[table1] ",cnxn)
#df = pd.read_sql_query("SELECT * FROM [test].[dbo].[table1] where test1 =1",cnxn)
df

In [ ]:
datas = [
    ["Mark",55,"Italy",4.5,"Europe"],
    ["john",33,"USA",6.9,"America"],
     ["tim",41,"USA",3.9,"America"],
]
columns = ["name","age","country","score","continent"]

df = pd.DataFrame(data=datas,columns=columns)
df

index

In [ ]:
df.index

In [ ]:
df.index.name = "user_id"
df

In [ ]:
df.reset_index()

In [ ]:
df.set_index("name")

In [ ]:
df.reset_index()

In [ ]:
df.sort_index()

In [ ]:
df.sort_index(ascending=False)

In [ ]:
df.sort_values(["continent"])

In [ ]:
df.sort_values(["continent","age"])

In [ ]:
df.sort_values(["continent","age"],ascending=False)

Columns

In [ ]:
datas = [
    ["Mark",55,"Italy",4.5,"Europe"],
    ["john",33,"USA",6.9,"America"],
     ["tim",41,"USA",3.9,"America"],
]
columns = ["name","age","country","score","continent"]

df = pd.DataFrame(data=datas,columns=columns)
df

In [ ]:
df.columns

In [ ]:
df_renames = df.copy()
df_renames

In [ ]:
df_renames.rename(columns={"name": "frist name","age":"AGE"},inplace=True)

In [ ]:
df_renames

In [ ]:
df

drop

In [ ]:
df

In [ ]:
df.drop(columns=["score","continent"])

In [ ]:
df

Transpose

In [ ]:
df

In [ ]:
df.T

#### Data Manipulation

selecting data

In [ ]:
df

In [ ]:
df.loc[0,"name"]

In [ ]:
df.loc[0,"age"]

In [ ]:
df.loc[:1,"age"] #slicing

In [ ]:
df.loc[[0,1],"age"] #list

In [ ]:
df.loc[:2,["name","country"]]

In [ ]:
df.iloc[0,0]

In [ ]:
df.iloc[0,2]

In [ ]:
tfs = df["age"] > 40
df.loc[tfs,:]

In [ ]:
df[df["age"] > 40]

In [ ]:
df[(df["age"] > 40) & (df["country"] == "USA") ]  # and

In [ ]:
df[(df["age"] > 40) | (df["country"] == "USA") ] # or

In [ ]:
df

example1 : 
- score >4 and continent is Europe or America
example2 : 
- age >40 and continent is Europe or America

In [ ]:
df[(df['score'] > 4) & ((df['continent'] == "Europe") | (df['continent'] == "America") )]

In [ ]:
df[(df['age'] > 40) & ((df['continent'] == "Europe") | (df['continent'] == "America") )]

In [ ]:
df[df["country"].isin(["Italy"])]

In [ ]:
country = "Italy"

df[df["country"].isin([country])]

Update data

In [ ]:
df

In [112]:
df_update = df.copy()

In [ ]:
df_update

In [ ]:
df_update.loc[1,"name"] = "JOHN"
df_update

In [113]:
tfs = df_update["age"] > 45
df_update.loc[tfs,"score"] = 9.9
df_update

   name  age country  score continent
0  Mark   55   Italy    9.9    Europe
1  john   33     USA    6.9   America
2   tim   41     USA    3.9   America

In [118]:
#df_update[df_update["age"] > 45]["score"] = 1.1
#df_update

In [121]:
df_update.replace("USA", "U.S")

   name  age country  score continent
0  Mark   55   Italy    9.9    Europe
1  john   33     U.S    6.9   America
2   tim   41     U.S    3.9   America

In [122]:
df_update

   name  age country  score continent
0  Mark   55   Italy    9.9    Europe
1  john   33     USA    6.9   America
2   tim   41     USA    3.9   America